@import "style";
@import "module/header.scss";
@import "module/footer.scss";

.fl{
    float: left;
    display: inline;
}
.fr{
    float: right;
    display: inline;
}
.styledisplay{
    display: none;
}
.pr{
    position: relative;
}

.list-nav{
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
    .list-nav-wrap{
        width: 1240px;
        margin-right: auto;
        margin-left: auto;
        a{
            color: #000000;
        }
        .line{
            padding: 0 5px 0;
            font-size: 12px;
            line-height: 40px;
            color: #616161;
        }
    }
}

// subject
.subject{
    width: 1240px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    .sub-nav{
        color: #9fa0a0;
        text-align: center;
        margin-bottom: 25px;
        a{
            padding: 0 44px 0 34px;
            font-size: 15px;
            color: #9fa0a0;
        }
    }
    .sub-list ul{
        width: 1204px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .sub-list ul .sub-list-shop{
        // padding-bottom: 40px;
        // font-size: 17.4px;
        // margin: 0 30px 0 73px;
        // width: 530px;
        // border: 1px solid #fff;
    }
    .shop-img{
        color: #898989;
        display: block;
        img{
            width: 530px;
            height: 427px;
            border: none;
        }
    }
    h2{
        font-size: 22px;
        color: #ff7c44;
        margin: 12px 0 12px 10px;
        font-weight: bold;
    }
    .title{
        color: #898989;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 18px;
        display: block;
    }
    .desc{
        color: #898989;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 18px;
        display: block;
    }
    .sale{
        margin-left: 10px;
        margin-top: 12px;
        color: #000000;
        .sale-num{
            color: #ff7c44;
        }
        .evaluate{
            color: #ff7c44;
        }
    }


    .sub-recommend{
        padding-bottom: 50px;
        .recommend-wrap{
            width: 1240px;
            margin-left: auto;
            margin-right: auto;
            .mubanwrap .recommend-title{
                padding-top: 40px;
                fieldset{
                    height: 50px;
                    border-top: 2px solid #e0e0e0;
                    padding-top: 10px;
                    border-left: 0;
                    border-bottom: 0;
                    border-right: 0;
                    legend{
                        text-align: center;
                        .rec-shop{
                            width: 300px;
                            height: 35px;
                            line-height: 35px;
                            font-size: 30px;
                            text-align: center;
                            font-weight: normal;
                            color: #000000;
                        }
                    }
                }
            }
            .mubanwrap .recommend-info{
                width: 1240px;
                height: 311px;
                border: 1px solid #dfdfdf;
                border-left: 0;
                background: #fff;
                margin-top: 25px;
                .recommend-item{
                    width: 308px;
                    height: 311px;
                    border-left: 1px solid #dfdfdf;
                    .recommend-item-wrap{
                        height: 299px;
                        border: 6px solid #fff;
                        width: 296.75px;
                        text-align: center;
                        .block1{
                            color: #1b1b1b;
                            display: block;
                            img{
                                margin: 0 28px;
                                border: none;
                                width: 240px;
                                height: 240px;
                            }
                        }
                        .block2{
                            color: #1b1b1b;
                            display: block;
                            font-size: 16px;
                            margin-bottom: 8px;
                            margin-top: 5px;
                        }
                        .recommend-p{
                            font-size: 13px;
                            color: #b4b4b4;
                        }
                    }
                }
            }
        }
    }
    
}







